<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/web/component/layui/css/layui.css" th:src="@{/web/component/layui/css/layui.css}"  media="all">
    <script type="text/javascript" src="/web/component/js/jquery-3.3.1.min.js" th:src="@{/web/component/js/jquery-3.3.1.min.js}"></script>
    <script src="/web/component/layui/layui.js" th:src="@{/web/component/layui/layui.js}" ></script>
    <style>
        .filess {
            position: relative;
            display: inline-block;
            background: #009688;
            /*border: 1px solid #99D3F5;*/
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            color: #FFFFFF;
            text-decoration: none;
            text-indent: 0;
            line-height: 20px;
        }
    </style>
</head>
<script type="text/javascript" >
    layui.use(["form","table","layer","upload"], function() {
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var upload = layui.upload;

        var id=location.search;
        id=id.split("=");

        $(function () {
            user();
            gid();
            get();
        })

        var get=function(){
            $.get("/Commodity/commodityById.do?sid="+id[1],function (d) {
                var e=eval(d);
                $("#name").val(e.name);
                $("#cas").val(e.cas);
                $("#userId ").val(e.Username);
                $("#supplierId").val(e.supplierId);
                $("#priceInfo").val(e.priceInfo);
                $("#sid").val(e.sid);
                $("#commodityInfo").val(e.commodityInfo);
            })
        }

        var user=function(){
            $.get("/supplier/users.do",function (d,s) {
                var e=eval(d);
                for(var i=0;i<e.length;i++){
                    var option=$("<option>").text(e[i].userName);
                    option.attr("value",e[i].uid);
                    $("#userId").append(option);
                    form.render();
                }
            })
        }

        var gid=function(){
            $.get("/supplier/get.do",function (d,s) {
                var e=eval(d);
                for(var i=0;i<e.data.length;i++){
                    var option=$("<option>").text(e.data[i].name);
                    option.attr("value",e.data[i].gid);
                    $("#supplierId").append(option);
                    form.render();
                }
            })
        }
        upload.render({
            elem: "#img"//绑定元素
            ,url: '/Commodity/pictures.do' //上传接口
            ,data: {sid:id[1]}
            ,accept: 'images'
            ,done: function(res){
                layer.msg(res);
                if(res == "1"){
                    layer.msg('导入成功!');
                }
            }
            , error: function (res) {
                //请求异常回调
                layer.msg('导入失败!请重新导入');
            }
        });

        upload.render({
            elem: "#file"//绑定元素
            ,url: '/Commodity/file.do' //上传接口
            ,data: {sid:id[1]}
            ,accept: 'file'
            ,done: function(res){
                layer.msg(res);
                if(res == "1"){
                    layer.msg('导入成功!');
                }
            }
            , error: function (res) {
                //请求异常回调
                layer.msg('导入失败!请重新导入');
            }
        });
        //监听表单
        form.on('submit(formDemo)', function(data){
            $.post("/Commodity/equals.do",data.field,function (d) {
                if (d === "1") {
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index);
                } else {
                    layer.msg('修改失败!', {icon: 2, time: 1000});
                }
            });
            return false;
        });
    })
</script>
<body>
    <form class="layui-form"  action="" lay-filter="formTest" >
        <div class="layui-form-item">
            <label class="layui-form-label">产品名称</label>
            <div class="layui-input-inline">
                <input type="text" id="name"  name="name" required   placeholder="请输入产品名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">cas号</label>
            <div class="layui-input-inline">
                <input type="text " id="cas" name="cas" required   placeholder="请输入cas号" autocomplete="off" class="layui-input">
            </div>
        </div>
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">业务员</label>-->
<!--            <div class="layui-input-inline">-->
<!--                <select id ="userId" name="userId" ></select>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">供应商名称</label>-->
<!--            <div class="layui-input-inline">-->
<!--                <select id ="supplierId" name="supplierId" ></select>-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">报价信息</label>
            <div class="layui-input-block">
                <textarea name="priceInfo" id="priceInfo" placeholder="请输入内容"  class="layui-textarea" style="resize: none;"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">商品介绍</label>
            <div class="layui-input-block">
                <textarea name="commodityInfo" id="commodityInfo" placeholder="请输入内容"  class="layui-textarea" style="resize: none;"></textarea>
            </div>
        </div>
        <div class="layui-input-inline" style="padding-left: 30%;">
            <a href="javascript:;" class="filess img" id="img"><i class="layui-icon">&#xe64a;</i>上传图片
            </a>
<!--            <button type="button" class="layui-btn img" id="img" >图片</button>-->
            <a href="javascript:;" class="filess file" id="file"><i class="layui-icon">&#xe621;</i>上传文件
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--            <div class="layui-input-inline">-->
<!--               -->
<!--&lt;!&ndash;                <button type="button" class="layui-btn file" id="file" >文件</button>&ndash;&gt;-->
<!--            </div>-->
        </div>
        <input type="text" style="display:none" id="sid" name="sid">
        <br>
        <br>
        <br>
        <div class="layui-form-item">
            <div class="layui-input-inline" style="padding-left: 14%;">
                <button class="layui-btn"  id="form" lay-submit lay-filter="formDemo">修改</button>
            </div>
        </div>
    </form>

</body>
</html>