<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="/web/component/layui/css/layui.css" th:src="@{/web/component/layui/css/layui.css}"  media="all">
    <script type="text/javascript" src="/web/component/js/jquery-3.3.1.min.js" th:src="@{/web/component/js/jquery-3.3.1.min.js}"></script>
    <script src="/web/component/layui/layui.js" th:src="@{/web/component/layui/layui.js}" ></script>-->
    <link rel="stylesheet" href="/web/component/layui/css/layui.css" media="all">
    <script src="/web/component/layui/layui.js"></script>
    <script type="text/javascript" src="/web/component/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" >

        var timeId;
        var layer;
        var imgDom=null;

    layui.use(["form","table","layer","laydate","upload"], function() {
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var upload = layui.upload;

        table.render({
            elem: '#demo'
            , url: '/Commodity/Commodious.do' //数据接口
            ,height:'full-20'
            ,page:true
            ,limit:20
            ,toolbar: '#toolbarDemo'
            ,defaultToolbar:[]
            ,limits:[20,30,50]
            , cols: [
                [ //表头
                    {type: 'radio', fixed: 'left'}
                    ,{field: 'ssid', title: '商品编号' ,width:95}
                    ,{field: 'sid', title: '商品编号' ,width:95,hide:true}
                    , {field: 'name', title: '产品名称' ,width:350}
                    , {field: 'cas', title: 'cas号', width:110}
                    , {field: 'createTime', title: '创建日期', width:110,hide:true}
                    , {field: 'priceInfo', title: '报价信息',templet:'#price', width:350}
                    ,{field: 'userName', title: '业务员名称',width:110}
                    , {field: 'updateTime', title: '更新日期', width:120}
                   ,{field:'commodityInfo',title:'商品介绍',width:130,hide:true}
                    //,{field:'filePath',title:'文件下载',templet: '#file',width:130}
                    ,{field:"right",title:'操作',toolbar:'#barDemo',width:'415', fixed: 'right'}
                ]
            ]
            ,done: function (response) {
                //定位当前table视图
                var tableView = this.elem.next();
                $.each(response.data, function (index, item) {
                    //逻辑判断
                    if (item.amount > 0) {
                        //改变TR标签内字体颜色
                        tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#33a1c9');
                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                    }else if(item.amount == 0){
                        //改变TR标签内字体颜色
                        tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#1E9FFF');
                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                    }else if(item.amount === null ){//00009C
                        tableView.find('tbody tr[data-index="' + index + '"]').addClass("layui-bg-cyan ");
                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                    }
                })
            }
        })

        //监听行工具
        table.on('tool(test)',function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'detail'){
                console.log(data);
                layer.open({
                    type: 2,
                    //offset: 'auto',、
                    skin: 'layui-layer-rim',
                    area: ['314px', '300px'],
                    content: '/web/view/commoditySupplier.html?supplierId='+data.supplierId, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    end:function () {
                        table.reload('demo', {
                            url: '/Commodity/Commodious.do'
                            ,done:function (response) {
                                lay('.time').each(function () {
                                    laydate.render({
                                        elem: this
                                        , trigger: 'click'
                                    });
                                });
                                //定位当前table视图
                                var tableView = this.elem.next();
                                $.each(response.data, function (index, item) {
                                    //逻辑判断
                                    if (item.amount > 0) {
                                        //改变TR标签内字体颜色
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#33a1c9');
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                                    }else if(item.amount == 0){
                                        //改变TR标签内字体颜色
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#1E9FFF');
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                                    }else if(item.amount === null ){//00009C
                                        tableView.find('tbody tr[data-index="' + index + '"]').addClass("layui-bg-cyan ");
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                                    }
                                })
                            }
                        });
                    }
                });
            }else if(layEvent == "test1"){
                upload.render({
                    elem: ".fileImg"//绑定元素
                    ,url: '/Commodity/pictures.do' //上传接口
                    ,data: {sid:obj.data.sid},
                    accept: 'images'
                    ,done: function(res){
                        layer.msg(res);
                        if(res == "1"){
                            layer.msg('导入成功!');
                        }
                    }
                    , error: function (res) {
                         //请求异常回调
                        layer.msg('导入失败!请重新导入');
                     }
                });
                //执行实例
               // console.log(obj.data.sid)
            }
            else if(layEvent == "file1"){
                upload.render({
                    elem: ".files1"//绑定元素
                    ,url: '/Commodity/file.do' //上传接口
                    //,field: "fileUpload"//设置字段名
                    ,accept: 'file'
                    ,data: {sid:obj.data.sid}
                    ,done: function(res){
                        layer.msg(res);
                        if(res == "1"){
                        layer.msg('导入成功!');
                        }
                    }
                    , error: function (res) {
                        //请求异常回调yhis
                        layer.msg('导入失败!请重新导入');
                    }
                });

            }else if(layEvent == "referral"){
                var content="<table class='layui-table'>  " +
                    "  <tr>" +
                    "    <td style=\"width: 100px;\">业务员名称</td>" +
                    "    <td>"+data.userName+"</td>" +
                    "  </tr>" +
                    "  <tr>" +
                    "    <td>产品名称</td>" +
                    "    <td>"+data.name+"</td>" +
                    "  </tr>" +
                    "  <tr>" +
                    "    <td>cas号</td>" +
                    "    <td>"+data.cas+"</td>" +
                    "  </tr>" +
                    "  <tr>" +
                    "    <td>创建日期</td>" +
                    "    <td>"+data.createTime+"</td>" +
                    "  </tr>" +
                    "  <tr>" +
                    "    <td>更新日期</td>" +
                    "    <td>"+data.updateTime+"</td>" +
                    "  </tr>" +
                    "  <tr>" +
                    "    <td>报价信息</td>" +
                    "    <td style='width: 200px;height: 100px'> <textarea style='width: 100%;height: 100%;border: none;resize: none;' readonly>"+data.priceInfo+"</textarea></td>" +
                    "  </tr>" +
                    "  <tr>" +
                    "    <td>商品介绍</td>" +
                    "    <td style='width: 200px;height: 100px'> <textarea style='width: 100%;height: 100%;border: none;resize: none;' readonly>"+data.commodityInfo+"</textarea></td>" +
                    "  </tr>" +
                    "  <tr>" +
                    "    <td>图片</td>" +
                    "    <td> <img src='"+data.imgPath+"' style='width: 200px;height: 100px'></td>" +
                    "  </tr>" +
                    "</table>" ;
                layer.open({
                    area: ['450px', '572px'],
                    title:"商品详情",
                    type: 1,
                    content:content
                    //这里content是一个普通的String
                });
            }

        })
        table.on('row(test)', function (obj) {
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click')
            obj.tr.find('div.layui-unselect.layui-form-radio')[1].click();
        })
        //监听表头
        table.on('toolbar(test)',function (obj) {
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            //$("#uid").value(obj.event.uid);
            if(layEvent === 'add'){
                layer.open({
                    type: 2,
                    title:"添加商品",
                    //offset: 'auto',、
                    skin: 'layui-layer-rim',
                    area: ['400px', '450px'],
                    content: '/web/view/commodityAdd.html', //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    end:function () {
                        table.reload('demo', {
                            url: '/Commodity/Commodious.do'
                            ,done:function (response) {
                                lay('.time').each(function () {
                                    laydate.render({
                                        elem: this
                                        , trigger: 'click'
                                    });
                                });
                                //定位当前table视图
                                var tableView = this.elem.next();
                                $.each(response.data, function (index, item) {
                                    //逻辑判断
                                    if (item.amount > 0) {
                                        //改变TR标签内字体颜色
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#33a1c9');
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                                    }else if(item.amount == 0){
                                        //改变TR标签内字体颜色
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#1E9FFF');
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                                    }else if(item.amount === null ){//00009C
                                        tableView.find('tbody tr[data-index="' + index + '"]').addClass("layui-bg-cyan ");
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                                    }
                                })
                            }
                        });
                    }
                });
            }else if (layEvent == "edit"){
                var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                var data = checkStatus.data;
                if(data.length==0){
                    layer.msg('请选择一行');
                    return;
                }
                layer.open({
                    type: 2,
                    //offset: 'auto',、
                    skin: 'layui-layer-rim',
                    area: ['370px', '500px'],
                    content: '/web/view/commodityEdit.html?sid='+data[0].sid, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    end:function () {
                        table.reload('demo', {
                            url: '/Commodity/Commodious.do'
                            ,done:function (response) {
                                lay('.time').each(function () {
                                    laydate.render({
                                        elem: this
                                        , trigger: 'click'
                                    });
                                });
                                //定位当前table视图
                                var tableView = this.elem.next();
                                $.each(response.data, function (index, item) {
                                    //逻辑判断
                                    if (item.amount > 0) {
                                        //改变TR标签内字体颜色
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#33a1c9');
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                                    }else if(item.amount == 0){
                                        //改变TR标签内字体颜色
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#1E9FFF');
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                                    }else if(item.amount === null ){//00009C
                                        tableView.find('tbody tr[data-index="' + index + '"]').addClass("layui-bg-cyan ");
                                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                                    }
                                })
                            }
                        });
                    }
                });
            }else if(layEvent == "del"){
                var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                var data = checkStatus.data;
                if(data.length==0){
                    layer.msg('请选择一行');
                    return;
                }
                layer.confirm('确认删除？', function (index) {
                    layer.close(index);
                    $.ajax({
                        url:'/Commodity/deleteById.do',
                        type: 'get',
                        data:{"sid":data[0].sid},
                        success:function (data) {
                            table.reload('demo', {
                                url: '/Commodity/Commodious.do'
                                ,done:function (response) {
                                    lay('.time').each(function () {
                                        laydate.render({
                                            elem: this
                                            , trigger: 'click'
                                        });
                                    });
                                    //定位当前table视图
                                    var tableView = this.elem.next();
                                    $.each(response.data, function (index, item) {
                                        //逻辑判断
                                        if (item.amount > 0) {
                                            //改变TR标签内字体颜色
                                            tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#33a1c9');
                                            tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                                        }else if(item.amount == 0){
                                            //改变TR标签内字体颜色
                                            tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', '#1E9FFF');
                                            tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                                        }else if(item.amount === null ){//00009C
                                            tableView.find('tbody tr[data-index="' + index + '"]').addClass("layui-bg-cyan ");
                                            tableView.find('tbody tr[data-index="' + index + '"]').css('color', '#F0F0F0');
                                        }
                                    })
                                }
                            });
                        },error:function (error) {
                            layer.msg("删除失败，请重试")
                        }
                    })
                })


            }
        })
        var _time=null;
        var _time1=null;
        //单击事件
        $(document).on("click",".li",function () {
            clearTimeout(_time);
            var that=this;
            _time = setTimeout(function(){
                console.log("click");
                //单击事件在这里
                $.get("/Commodity/commodityById.do?sid=" + that.name, function (d) {
                    var e = eval(d);
                    var sid = e.sid;
                    var img = d.imgPath;
                    layer.open({//示范一个公告层
                        type: 1
                        ,
                        title: false //不显示标题栏
                        ,
                        closeBtn: false
                        ,
                        area: '390px;'
                        ,
                        shade: 0.8
                        ,
                        id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,
                        btn: ['下载', "关闭"]
                        ,
                        btnAlign: 'c'
                        ,
                        moveType: 1 //拖拽模式，0或者1
                        ,
                        content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;"><img src=' + img + ' style=" WIDTH:300PX;height:300px;">'
                        ,
                        success: function (layero) {
                            var btn = layero.find('.layui-layer-btn');
                            btn.find('.layui-layer-btn0').attr({
                                href: '/Commodity/download.do?sid=' + sid
                                , target: '_blank'
                            });
                        }
                    });
                })
            }, 300);

        })
        //双击事件
        $(document).on("dblclick",".li",function () {
            var that=this;
            clearTimeout(_time);
            console.log("dblclick");
            $("#a"+that.name).click();
        })

        //报价信息
        $(document).on("dblclick",".price_info",function () {
                var that=this;
                console.log(that.id)
                layer.open({
                    area: ['300px', '300px'],
                    title:"报价信息",
                    type: 1,
                    content:"<div style='padding: 10px;'>"+that.id+"</div>"
                    //这里content是一个普通的String
                });

        })


        $(document).on("click",".file",function () {
            var that=this;
            clearTimeout(_time1);
            _time1=setTimeout(function () {
                $.get("/Commodity/commodityById.do?sid="+that.name,function (d) {
                    var e=eval(d);
                    var sid=e.sid;
                    var img=d.imgPath;
                    layer.open({//示范一个公告层
                        type: 1
                        ,title: false //不显示标题栏
                        ,closeBtn: false
                        ,area: '390px;'
                        ,shade: 0.8
                        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,btn: ['下载', "关闭"]
                        ,btnAlign: 'c'
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;"><i class="layui-icon">&#xe621;</i>'
                        ,success: function(layero){
                            var btn = layero.find('.layui-layer-btn');
                            btn.find('.layui-layer-btn0').attr({
                                href: '/Commodity/downloads.do?sid='+sid
                                ,target: '_blank'
                            });
                        }
                    });
                })
            },300)

        })
        $(document).on("dblclick",".file",function () {
            var that=this;
            clearTimeout(_time1);
            console.log("dblclick");
            $("#b"+that.name).click();
        })

        lay('.time').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });
        form.on('submit(formDemo)', function(data){
            console.log(data.field);
            table.reload('demo', {
                url: '/Commodity/Commodious.do'
                ,where: data.field//设定异步数据接口的额外参数
            });
            lay('.time').each(function () {
                laydate.render({
                    elem: this
                    , trigger: 'click'
                });
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        })
    </script>
    <style>
        .filess {
            position: relative;
            display: inline-block;
            background: #009688;
            /*border: 1px solid #99D3F5;*/
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            color: #FFFFFF;
            text-decoration: none;
            text-indent: 0;
            line-height: 20px;
        }
        .filess input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }

    </style>
</head>
<script type="text/html" id="price">
    <div class="price_info" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"  id="{{d.priceInfo}}">{{d.priceInfo}}</div>
</script>
<script type="text/html" id="barDemo">
<!--    <a class="filess" lay-event="edit">修改</a>-->
    <a class="filess" lay-event="detail">查看供应商</a>
    <a class="filess" lay-event="referral">商品介绍</a>
    {{#  if(d.imgStatus == 0){}}
    <a href="javascript:;" class="filess"><i class="layui-icon">&#xe64a;</i>上传图片
        <input type="file" class="fileImg" lay-event="test1" name="file"  style="width: 80px" >
    </a>
    {{#  } else if(d.imgStatus == 1){ }}
    <a href="javascript:;" class="filess "  style="display: none"><i class="layui-icon">&#xe64a;</i>
        <input type="file" class="fileImg" id="a{{d.sid}}" lay-event="test1" name="file"  style="width: 80px" >
    </a>
    <a href="javascript:;" class="filess li" name="{{d.sid}}" lay-filter="img" >已上传
    </a>
    {{#  } }}

    {{#  if(d.fileStatus == 0){}}
    <a href="javascript:;" class="filess"><i class="layui-icon">&#xe621;</i>上传文件
        <input type="file" class="files1"   lay-event="file1" name="file" style="width: 80px" >
    </a>
    {{#  } else if(d.fileStatus == 1){ }}
    <a href="javascript:;" class="filess" style="display: none">
        <input type="file" class="files1"  id="b{{d.sid}}" lay-event="file1" name="file" style="width: 80px" >
    </a>
    <a href="javascript:;" class="filess file"  name="{{d.sid}}" lay-filter="files" >已上传
    </a>
    {{#  } }}
</script>

<body>
<script type="text/html" id="toolbarDemo">
        <div style="text-align: center">
            <form class="layui-form" action=""  style="display: inline-block;">
                <div class="layui-input-inline">
                    <div class="layui-input-inline">
                        <label class="layui-input-inline">产品名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name"  autocomplete="off" placeholder="请输入" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <label class="layui-input-inline">Cas号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="cas"  autocomplete="off" placeholder="请输入" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-input-inline">
                        <label class="layui-input-inline">日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="createTime" id="createTime"   placeholder="yyyy-MM-dd"  autocomplete="off" class="layui-input time">
                        </div>
                    </div>
                    &nbsp;- &nbsp;
                    <div class="layui-input-inline">
                        <input type="text" name="createTimes" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input time">
                    </div>
                    <div class="layui-input-inline">
                        <div class="layui-input-inline">
                            <button type="submit" class="layui-btn " lay-submit="" lay-filter="formDemo">查询</button>
                        </div>
                    </div>
                </div>
            </form>
            <button class="layui-btn layui-btn-normal" lay-event="add">添加</button>
            <button class="layui-btn layui-btn-normal" style="margin-left: 0px" lay-event="edit">修改</button>
            <button class="layui-btn layui-btn-danger" style="margin-left: 0px" lay-event="del">删除</button>
    </div>

</script>
<table id="demo" lay-filter="test" STYLE=" width: 92px " ></table>
</body>
</html>