<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>发票管理</title>
    <link rel="stylesheet" href="/web/component/layui/css/layui.css" media="all">
    <script src="/web/component/layui/layui.js"></script>
    <script type="text/javascript" src="/web/component/js/jquery-3.3.1.min.js"></script>
</head>
<body>

<table id="demo" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">

   <div style="text-align: center">
       <form class="layui-form" action="" lay-filter="example" style="display: inline-block;">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <div class="layui-input-inline">
               Cas号
           </div>
           &nbsp;&nbsp;&nbsp;
           <div class="layui-input-inline">
               <input type="text" name="cas" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
           </div>

           <div class="layui-input-inline">
               产品名称
           </div>
           &nbsp;&nbsp;&nbsp;
           <div class="layui-input-inline">
               <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
           </div>
           &nbsp;&nbsp;&nbsp;
           <div class="layui-input-inline">
               <button type="submit" class="layui-btn" lay-submit="" lay-filter="formDemo">查询</button>
           </div>
       </form>
       <button type="button" class="layui-btn layui-btn-normal" lay-event="import" id="test1">添加</button>
       <button type="button" class="layui-btn layui-btn-normal" style="margin-left: 0px" lay-event="update">修改</button>
       <button class="layui-btn layui-btn-danger" style="margin-left: 0px" lay-event="del">删除</button>

   </div>
</script>

<script type="text/javascript">
    layui.use(['layer','form','laydate','table'], function(){
        var table = layui.table;
        var upload = layui.upload;
        var form=layui.form;
        var laydate=layui.laydate;

        laydate.render({
            elem:'#date'
        });

        table.render({
            elem: '#demo'
            ,toolbar: '#toolbarDemo'
            ,url: '/Invoice/select' //数据接口
            ,page: true //开启分页
            ,limit:20
            ,height: 'full-20'
            ,limits:[10,20,30]
            ,defaultToolbar:[]
            ,cols: [[ //表头
                {type: 'radio', fixed: 'left'},
                {field: 'xid', title: '序号'},
                 {field: 'sid', title: '序号',hide:true}
                ,{field: 'name', title: '发票品名'}
                ,{field: 'cas', title: 'Cas号'}
                ,{field:'number',title:'数量'}
                ,{field: 'price', title: '价格'}
                ,{field: 'unit', title: '单位'}
                ,{field: 'createTime', title: '创建日期',width:200}
                ,{fixed: 'right', title: '操作', align:'center', toolbar: '#barDemo',width:200}
            ]]
        });

        //监听工具条
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if(layEvent === 'detail'){ //查看
                layer.prompt({
                    formType: 2,
                    value: '',
                    title: '请输入值',
                    area: ['100px', '40px'] //自定义文本域宽高
                }, function(value, index, elem){
                    $.post("/Invoice/autoUpdate.do",{sid:data.sid,number:value},function (data) {
                        if (data==1){
                            table.reload('demo', {
                                url: '/Invoice/select.do'
                            });
                        }else {
                            layer.msg('修改失败');
                            table.reload('demo', {
                                url: '/Invoice/select.do'
                            });
                        }

                    });
                    layer.close(index);
                });
            }
        });

        table.on('row(test)', function (obj) {
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click')
            obj.tr.find('div.layui-unselect.layui-form-radio')[1].click();
        })

        table.on('edit(test)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            var regPos = /^\d+(\.\d+)?$/; //非负浮点数
            var regNeg = /^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$/; //负浮点数
            if(regPos.test(value) || regNeg.test(value)) {
                $.post("/Invoice/updateBySid.do",{sid:data.sid,number:data.number},function (data) {
                    if (data==1){
                        table.reload('demo', {
                            url: '/Invoice/select.do'
                        });
                    }else {
                        layer.msg('修改失败');
                        table.reload('demo', {
                            url: '/Invoice/select.do'
                        });
                    }
                })
            } else {
                layer.msg('输入非法');
                table.reload('demo', {
                    url: '/Invoice/select.do'
                });
            }
        });


        form.on('submit(formDemo)', function(data){
            table.reload('demo', {
                url: '/Invoice/queryByCas.do'
                ,where: data.field//设定异步数据接口的额外参数
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //执行实例
        table.on('toolbar(test)', function(obj) {
            var layEvent = obj.event;
            if (layEvent === 'import') {
                layer.open({
                    area: ['360px', '420px'],
                    type: 2,
                    content: 'addInvoice.html',
                    end:function () {
                        table.reload('demo', {
                            url: '/Invoice/select.do'
                        });
                    },
                });
            }else if(layEvent === 'update'){//查看
                var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                var data = checkStatus.data;
                if(data.length==0){
                    layer.msg('请选择一行');
                    return;
                }

                layer.open({
                    area: ['360px', '420px'],
                    type: 2,
                    content: 'updateInvoice.html?sid='+data[0].sid,
                    end:function () {
                        table.reload('demo', {
                            url: '/Invoice/select.do'
                        });
                    },
                });

            }else if(layEvent == "del"){
                var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                var data = checkStatus.data;
                if(data.length==0){
                    layer.msg('请选择一行');
                    return;
                }
                layer.confirm('确认删除？', function (index) {
                    layer.close(index);
                    $.ajax({
                        url:'/Invoice/deleteById.do',
                        type: 'get',
                        data:{"sid":data[0].sid},
                        success:function (data) {
                            table.reload('demo', {
                                url: '/Invoice/select.do'
                            });
                        },error:function (error) {
                            layer.msg("删除失败，请重试")
                        }
                    })
                })


            }
        });
    });
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">自动计算数量</a>
<!--    <a class="layui-btn layui-btn-xs" lay-event="update">修改</a>-->
</script>

</body>
</html>