<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/web/component/layui/css/layui.css" media="all">
    <script src="/web/component/layui/layui.js"></script>
    <script type="text/javascript" src="/web/component/js/jquery-3.3.1.min.js" th:src="@{/web/component/js/jquery-3.3.1.min.js}"></script>
    <script>
        var types=localStorage.getItem("types");

        layui.use(['table','layer','form','laydate'], function(){
            var table = layui.table;
            var form = layui.form;
            var laydate = layui.laydate;
            var layer = layui.layer;

            //第一个实例
            table.render({
                elem: '#demo'
                ,toolbar: '#toolbarDemo'
                ,height: 'full-20'
                ,url: '/Order/' //数据接口
                ,page: true //开启分页
                ,limit:20
                ,totalRow: true
                ,limits:[10,20,30]
                ,defaultToolbar:[]
                ,cols: [
                    [ //表头
                    {type: 'radio', fixed: 'left'}
                    ,{field: 'id', title: '编号', sort: true, width:90}
                    // ,{field: '', title: '标签' ,width:240,templet:'#biaoqian'}
                    ,{field: 'name', title: '商品名称', sort: true, totalRowText: '合计行', width:170}
                    ,{field: 'amount', title: '数量', sort: true,templet:"#amount", width:120}
                    ,{field: 'price', title: '单价', sort: true, templet:"#price", width:120}
                    ,{field: 'sumPrice', title: '总价', sort: true, templet:"#sumPrice", totalRow: true, width:120}
                    ,{field: 'costPrice', title: '成本', templet:"#costPrice", totalRow: true, width:120}
                    ,{field: 'otherCost', title: '其他成本', templet:"#otherCost", totalRow: true, width:120}
                    ,{field: '', title: '总成本', templet:"#zcb", width:120}
                    ,{field: 'royalties', title: '提成', templet:"#royalties", totalRow: true, width:120}
                    ,{field: 'status', title: '是否出库', sort: true, templet:"#status", width:120}
                    ,{fixed: 'right', title: '操作', align:'center', toolbar: '#barDemo',width:200}
                ]
                ],done: function (response) {
                    //定位当前table视图
                    var tableView = this.elem.next();
                    $.each(response.data,function (index,item) {
                        //逻辑判断
                        if(item.status == "2"){
                            //改变TR行颜色和标签内字体颜色
                            tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','#FF5722');
                            tableView.find('tbody tr[data-index="'+ index +'"]').css('color','#F0F0F0');
                        }
                    })
                }
            });

            table.on('row(test)', function (obj) {
                obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click')
                obj.tr.find('div.layui-unselect.layui-form-radio')[1].click();
            })

            $(document).on("click",".notOutbound",function(){
                $.post("/Order/",{did:this.value,_method:"PUT"},function (data) {
                    if(data==1){
                        layer.msg('已出库！！！', {
                            icon: 1,
                            time: 2000 //1秒关闭（如果不配置，默认是3秒）
                        })
                        table.reload('demo', {
                            url: '/Order/'
                            ,done:function (response) {
                                lay('.time').each(function(){
                                    laydate.render({
                                        elem: this
                                        ,trigger: 'click'
                                    });
                                });
                                //定位当前table视图
                                var tableView = this.elem.next();
                                $.each(response.data,function (index,item) {
                                    //逻辑判断
                                    if(item.status == "2"){
                                        //改变TR行颜色和标签内字体颜色
                                        tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','#FF5722');
                                        tableView.find('tbody tr[data-index="'+ index +'"]').css('color','#F0F0F0');
                                    }
                                })
                            }
                        });
                    }else{
                        layer.msg('状态修改失败', {
                            time: 2000 //1秒关闭（如果不配置，默认是3秒）
                        })
                    }
                });
            });
            $(document).on("click",".outbound",function(){
                layer.msg('已在出库状态！！！', {
                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                })
            });
            $(document).on("click",".salesReturn",function(){
                layer.msg('退货中禁止修改状态！！！', {
                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                })
            });


            //监听工具条
            table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

                if(layEvent === 'detail'){ //查看
                    var content="<table class='layui-table'>  " +
                        "  <tr>" +
                        "    <td>商品名称</td>" +
                        "    <td>"+data.name+ "</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>数量</td>" +
                        "    <td>"+data.amount+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>单价</td>" +
                        "    <td>";
                    if(0 == data.type || data.userId == data.uid || data.suid == data.uid){
                        content+=data.price;
                    }else{
                        content+="无权限";
                    }
                    content+="</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>总价</td>" +
                        "    <td>";
                    if(0 == data.type || data.userId == data.uid || data.suid == data.uid){
                        content+=data.sumPrice;
                    }else{
                        content+="无权限";
                    }
                    content+="  </tr>" +
                        "  <tr>" +
                        "    <td>成本</td>" +
                        "    <td>";
                    if(0 == data.type || data.userId == data.uid || data.suid == data.uid){
                        content+=data.costPrice;
                    }else{
                        content+="无权限";
                    }
                    content+="</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>其他成本</td>" +
                        "    <td>";
                    if(0 == data.type || data.userId == data.uid || data.suid == data.uid){
                        content+=data.otherCost;
                    }else{
                        content+="无权限";
                    }
                    content+= "</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>总成本</td>" +
                        "    <td>";
                    if(0 == data.type || data.userId == data.uid || data.suid == data.uid){
                        content+=data.zcb;
                    }else{
                        content+="无权限";
                    }
                    content+="</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>提成</td>" +
                        "    <td>";
                    if(0 == data.type || data.userId == data.uid || data.suid == data.uid){
                        content+=data.royalties;
                    }else{
                        content+="无权限";
                    }
                    content+="</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>客户姓名</td>" +
                        "    <td>"+data.userName+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>地址</td>" +
                        "    <td>"+data.address+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>联系电话</td>" +
                        "    <td>"+data.phone+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>开票资料</td>" +
                        "    <td>"+data.billInfo+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>库存编号</td>" +
                        "    <td>"+data.number+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>备注</td>" +
                        "    <td>" +
                        "       <div class='layui-input-inline' style='width: 100%;'>" +
                        "           <textarea  class='layui-textarea' disabled='disabled' >"+data.remarks+"</textarea>" +
                        "       </div>" +
                        "    </td>" +
                        "  </tr>" +
                        "</table>";
                    layer.open({
                        area: ['470px', '572px'],
                        title:"订单详情",
                        type: 1,
                        content:content
                             //这里content是一个普通的String
                    });
                }else if(layEvent=="imgUpload"){

                    var data1="name="+data.name+"&amount="+data.amount+"&companyName="+data.userName+"&phone="+data.phone
                    window.location.href="/Order/imgUpload?"+data1

                }
            });

            //监听表头
            table.on('toolbar(test)',function (obj) {
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if(layEvent === 'import'){
                    layer.open({
                        area: ['450px', '500px'],
                        type: 2,
                        title:'添加订单',
                        content: '/Order/toAdd' //这里content是一个普通的String
                        ,end:function () {
                            table.reload('demo', {
                                url: '/Order/'
                                ,done:function (response) {
                                    lay('.time').each(function(){
                                        laydate.render({
                                            elem: this
                                            ,trigger: 'click'
                                        });
                                    });
                                    //定位当前table视图
                                    var tableView = this.elem.next();
                                    $.each(response.data,function (index,item) {
                                        //逻辑判断
                                        if(item.status == "2"){
                                            //改变TR行颜色和标签内字体颜色
                                            tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','#FF5722');
                                            tableView.find('tbody tr[data-index="'+ index +'"]').css('color','#F0F0F0');
                                        }
                                    })
                                }
                            });
                        }
                    });
                }
                else if(layEvent === 'del'){ //编辑
                    var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                    var data = checkStatus.data;
                    if(data.length==0){
                        layer.msg('请选择一行');
                        return;
                    }
                    layer.confirm('确认删除？', function(index){
                        $.post("/Order/",{did:data[0].did,_method:"DELETE"},function (data) {
                            if(data==1){
                                layer.msg('已删除！！！', {
                                    icon: 1,
                                    time: 2000 //1秒关闭（如果不配置，默认是3秒）
                                })
                                table.reload('demo', {
                                    url: '/Order/',
                                    done:function (response) {
                                        lay('.time').each(function(){
                                            laydate.render({
                                                elem: this
                                                ,trigger: 'click'
                                            });
                                        });
                                        //定位当前table视图
                                        var tableView = this.elem.next();
                                        $.each(response.data,function (index,item) {
                                            //逻辑判断
                                            if(item.status == "2"){
                                                //改变TR行颜色和标签内字体颜色
                                                tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','#FF5722');
                                                tableView.find('tbody tr[data-index="'+ index +'"]').css('color','#F0F0F0');
                                            }
                                        })
                                    }
                                });
                            }else{
                                layer.msg('删除失败！！！', {
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                })
                            }
                        });
                        layer.close(index);
                    });
                } else if(layEvent === 'upd'){
                    var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                    var data = checkStatus.data;
                    if(data.length==0){
                        layer.msg('请选择一行');
                        return;
                    }
                    layer.open({
                        area: ['450px', '500px'],
                        type: 2,
                        title:'修改订单',
                        content: '/Order/toUpd?did='+data[0].did  //这里content是一个普通的String
                        ,end:function () {
                            table.reload('demo', {
                                url: '/Order/'
                                ,done:function (response) {
                                    lay('.time').each(function(){
                                        laydate.render({
                                            elem: this
                                            ,trigger: 'click'
                                        });
                                    });
                                    //定位当前table视图
                                    var tableView = this.elem.next();
                                    $.each(response.data,function (index,item) {
                                        //逻辑判断
                                        if(item.status == "2"){
                                            //改变TR行颜色和标签内字体颜色
                                            tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','#FF5722');
                                            tableView.find('tbody tr[data-index="'+ index +'"]').css('color','#F0F0F0');
                                        }
                                    })
                                }
                            });
                        }
                    });
                }
            })

            lay('.time').each(function(){
                laydate.render({
                    elem: this
                    ,trigger: 'click'
                });
            });

            //监听提交
            form.on('submit(demo1)', function(data){
                table.reload('demo', {
                    url: '/Order/time'
                    ,where: data.field //设定异步数据接口的额外参数
                    ,done:function (response) {
                        lay('.time').each(function(){
                            laydate.render({
                                elem: this
                                ,trigger: 'click'
                            });
                        });
                        //定位当前table视图
                        var tableView = this.elem.next();
                        $.each(response.data,function (index,item) {
                            //逻辑判断
                            if(item.status == "2"){
                                //改变TR行颜色和标签内字体颜色
                                tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','#FF5722');
                                tableView.find('tbody tr[data-index="'+ index +'"]').css('color','#F0F0F0');
                            }
                        })
                    }
                });
                return false;
            });
        });
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="detail">查看详情</a>
        <a class="layui-btn layui-btn-xs" lay-event="imgUpload">生成标签</a>
    </script>
    <script type="text/html" id="toolbarDemo">
&nbsp;      <span  style="text-align: center;margin-left: 17%;">
            <form class="layui-form" action="" style="display: inline-block;">
                <div class="layui-input-inline">
                    <input type="text" name="stadate" id="stadate" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input time">
                </div>
                &nbsp; - &nbsp;
                <div class="layui-input-inline">
                    <input type="text" name="enddate" id="enddate" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input time">
                </div>&nbsp;&nbsp;
                <div class="layui-input-inline">
                    <input type="text" name="name" autocomplete="off"  placeholder="商品名称" class="layui-input" style="width: 220px;display: inline-block">
                </div>&nbsp;&nbsp;
                <div class="layui-input-inline">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">查询</button>
                </div>
            </form>
            <button type="button" class="layui-btn layui-btn-normal" lay-event="import" id="test1">添加</button>
            {{#  if(0 == types){ }}
            <button class="layui-btn  layui-btn-normal" style="margin-left: 0px" lay-event="upd">修改</button>
            <button class="layui-btn  layui-btn-danger" style="margin-left: 0px"  lay-event="del">删除</button>
            {{#  } else { }}
                <button class="layui-btn  layui-btn-normal" style="margin-left: 0px"  lay-event="upd">修改</button>
            {{#  } }}

        </span>
    </script>
    <style>
        .layui-table-page {
            text-align: center;
        }
    </style>
    <script type="text/html" id="status">
        {{#  if(d.status == 0){ }}
        <button value="{{d.did}}" class="layui-btn layui-btn-normal layui-btn-xs notOutbound">未出库</button>
        {{#  } else if(d.status == 1){ }}
        <button value="{{d.did}}" class="layui-btn layui-btn-xs outbound">已出库</button>
        {{#  } else if(d.status == 2){ }}
        <button value="{{d.did}}" class="layui-btn layui-btn-primary layui-btn-xs salesReturn">已退货</button>
        {{#  } }}
    </script>
    <script type="text/html" id="royalties">
        {{#  if(0 == d.type){ }}
        {{d.royalties}}
        {{#  } else if(d.userId == d.uid){ }}
        {{d.royalties}}
        {{#  } else if(d.suid == d.uid){ }}
        {{d.royalties}}
        {{#  } else { }}
        无权限
        {{#  } }}
    </script>
    <script type="text/html" id="amount">
        {{d.amount}}千克
    </script>
    <script type="text/html" id="price">
        {{#  if(0 == d.type){ }}
        {{d.price}}
        {{#  } else if(d.userId == d.uid){ }}
        {{d.price}}
        {{#  } else if(d.suid == d.uid){ }}
        {{d.price}}
        {{#  } else { }}
        无权限
        {{#  } }}
    </script>
    <script type="text/html" id="sumPrice">
        {{#  if(0 == d.type){ }}
        {{d.sumPrice}}
        {{#  } else if(d.userId == d.uid){ }}
        {{d.sumPrice}}
        {{#  } else if(d.suid == d.uid){ }}
        {{d.sumPrice}}
        {{#  } else { }}
        无权限
        {{#  } }}
    </script>
    <script type="text/html" id="costPrice">
        {{#  if(0 == d.type){ }}
        {{d.costPrice}}
        {{#  } else if(d.userId == d.uid){ }}
        {{d.costPrice}}
        {{#  } else if(d.suid == d.uid){ }}
        {{d.costPrice}}
        {{#  } else { }}
        无权限
        {{#  } }}
    </script>
    <script type="text/html" id="otherCost">
        {{#  if(0 == d.type){ }}
        {{d.otherCost}}
        {{#  } else if(d.userId == d.uid){ }}
        {{d.otherCost}}
        {{#  } else if(d.suid == d.uid){ }}
        {{d.otherCost}}
        {{#  } else { }}
        无权限
        {{#  } }}
    </script>
    <script type="text/html" id="zcb">
        {{#  if(0 == d.type){ }}
        {{ d.zcb}}
        {{#  } else if(d.userId == d.uid){ }}
        {{ d.zcb}}
        {{#  } else if(d.suid == d.uid){ }}
        {{ d.zcb}}
        {{#  } else { }}
        无权限
        {{#  } }}
    </script>
    <script type="text/html" id="biaoqian">
            <div class="aa">
                <a >{{d.userName}}</a>
                <a >{{d.phone}}</a>
            </div>
            <div  class="aa1">
                <a >{{d.name}}</a>
                <a >{{d.amount}}kg</a>
            </div>

    </script>
</head>
<body>
    <table id="demo" lay-filter="test"></table>
<style>
    .layui-table-cell {
        height: 35px;
        line-height: 35px;
    }
    .tr>td:nth-child(3){
        padding: 0px;
        line-height: 0px;
    }
    .aa{
        position: absolute;
        top: 50%;
        height: 7px;
        margin-top: -27px;
        font-size: 12px;
    }
    .aa1{
        position: absolute;
        top: 50%;
        height: 10px;
        margin-top: -8px;
        font-size: 12px;
    }
    a{
        color: #FFFFFF;
        border-radius: 0 9px 9px 0;
        padding: 0 4px;
        border: 1px solid currentColor;
        background-color: #1989fa;

    }
</style>
</body>
</html>