<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>采购管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/web/component/layui/css/layui.css" media="all">
    <script type="text/javascript" src="/web/component/js/jquery-3.3.1.min.js" th:src="@{/web/component/js/jquery-3.3.1.min.js}"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>



<table lay-filter="test" class="layui-hide" id="test"></table>


<script src="/web/component/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    var types=localStorage.getItem("types");
    var userId=localStorage.getItem("userId");

    layui.use(["form","table","layer","upload"], function() {
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var upload = layui.upload;

        table.render({
            elem: '#test'
            , url: '/purchase/purchase.do'       //数据接口
            , page: true
            , height: 'full-20'
            , limit: 20
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , limits: [10, 20, 30]
            , cols: [
                [
                    {type: 'radio', fixed: 'left'},
                    {field: 'gid', title: '编号', width: 100}
                    , {field: 'userName', width: 80, title: '业务员', minWidth: 100}
                    , {field: 'name', width: 155, title: '产品名称'}
                    , {field: 'cas', title: 'cas号', width: 115}
                    , {field: 'amount', title: '数量', width: 100, toolbar:'#royalties'}
                    , {field: 'price', title: '单价', width: 100} //minWidth：局部定义当前单元格的最小宽度
                    , {
                    field: 'priceStatus', title: '是否含税', width: 100, align: "center", templet: function (d) {
                        if (d.priceStatus == 0) {
                            return '含税'
                        } else {
                            return '不含税'
                        }
                    }
                }
                    , {field: 'sumPrice', title: '总价', width: 100}
                    // ,{field:'status', title: '是否收货',  width: 90 , templet: function(d){if(d.status == 0){return '收货'}else{return '未收货'}} }
                    // ,{field:'userName', title: '业务员',  width: 80}
                    , {field: '', title: '供应商名称', width: 200, toolbar: "#suppliername"}
                    , {field: '', title: '供应商电话', width: 120, toolbar: "#supplierphone"}
                    , {field: 'trackingNumber', title: '物流单号', width: 200}
                    , {field: 'createTime', title: '创建日期', width: 120}
                    , {
                    field: 'ann', title: '发票', width: 90, templet: function (d) {
                        if (d.ann == 1) {
                            return '未收到'
                        } else if (d.ann == 2) {
                            return '已收到'
                        }else{
                            return ""
                        }
                    }
                }
                    , {fixed: 'right', title: '操作', width: 175, align: 'center', toolbar: '#dd'}
                    // , {fixed: 'right', width: '8%', align: 'center', toolbar: '#cc'}
                    // , {fixed: 'right', width: '8%', align: 'center', toolbar: '#ccs'}
                ]]
            , done: function (response) {
                //定位当前table视图
                var tableView = this.elem.next();
                $.each(response.data, function (index, item) {
                    //逻辑判断
                    if (item.priceStatus == 0 && item.ann == 1) {
                        //改变TR行颜色和标签内字体颜色
                        tableView.find('tbody tr[data-index="' + index + '"]').css('background-color', 'yellow');
                        tableView.find('tbody tr[data-index="' + index + '"]').css('color', 'black');
                    }
                })
            }
        });


        form.on('submit(formDemo)', function (data) {
            console.log(data.field);
            table.reload('test', {
                url: '/purchase/purchase1.do'
                , where: data.field//设定异步数据接口的额外参数
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //监听表头
        table.on('toolbar(test)', function (obj) {
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent == 'add') {
                layer.open({
                    type: 2,
                    //offset: 'auto',、
                    skin: 'layui-layer-rim',
                    area: ['452px', '500px'],
                    content: '/web/view/purchaseAdd.html?', //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    end: function () {
                        table.reload('test', {
                            url: '/purchase/purchase.do'
                        });
                    }
                });
            } else if (layEvent === 'del') { //删除

                var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                var data = checkStatus.data;
                if(data.length==0){
                    layer.msg('请选择一行');
                    return;
                }
                layer.confirm('确认删除？', function (index) {
                    layer.close(index);
                    $.ajax({
                        url: "/purchase/delete?cid=" + data[0].cid,
                        type: 'get',
                        dataType: "json",
                        contentType: "application/json",
                        success: function (data1) {
                            if (data == 1) {
                                layer.msg('删除失败');
                                table.reload('test', {
                                    url: '/purchase/purchase.do'

                                });
                            }else {
                                layer.msg('删除成功');
                                table.reload('test', {
                                    url: '/purchase/purchase.do'

                                });
                            }
                        }


                    });
                })
            }else if (layEvent == 'updateT') {

                var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                var data = checkStatus.data;
                if(data.length==0){
                    layer.msg('请选择一行');
                    return;
                }
                layer.open({
                    type: 2,
                    //offset: 'auto',、
                    skin: 'layui-layer-rim',
                    area: ['452px', '500px'],
                    content: '/web/view/purchaseUpdate.html?id='+data[0].cid, //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    end: function () {
                        table.reload('test', {
                            url: '/purchase/purchase.do'
                        });
                    }
                });
            }
        });

        table.on('row(test)', function (obj) {
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click')
            obj.tr.find('div.layui-unselect.layui-form-radio')[1].click();
        })

        //监听行
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'getfp') {
                layer.open({
                    type: 1,
                    area: ['250px', '150px'],
                    btn: ['确定', '点错了'],
                    content: '  <div align="center">您是否确认收到发票？</div>  ',

                    btn1: function (index, layero) {
                        $.ajax({
                            type: "GET",
                            url: "/purchase/update.do?cid=" + data.cid,
                            dataType: "json",
                        });
                        table.reload('test', {
                            url: '/purchase/purchase.do'

                        });
                        layer.closeAll();
                    },
                    btn2: function (index, layero) {
                        layer.closeAll();
                    },
                });

            } else if (layEvent === 'up') {
                layer.prompt({
                    formType: 2,
                    value: '',
                    title: '请输入物流单号',
                    btn: ['确定', '点错了'],
                    area: ['100px', '40px'] //自定义文本域宽高
                }, function (value, index, elem) {
                    console.log(data.cid)
                    console.log(value)
                    $.post("/purchase/updateTn.do", {cid: data.cid, trackingNumber: value}, function (data) {
                        if (data == 1) {
                            layer.msg('添加成功');
                            table.reload('test', {
                                url: '/purchase/purchase.do'

                            });
                        } else {
                            layer.msg('修改失败');
                            table.reload('test', {
                                url: '/purchase/purchase.do'

                            });
                        }

                    });
                    layer.close(index);
                });
            }
        })
    })
</script>



<style>
    .layui-table-page {
        text-align: center;
    }

</style>

<script type="text/html" id="toolbarDemo">&numsp; &numsp;

    <form class="layui-form" action=""  style="display: inline-block;">
        <div class="layui-inline">
            <div class="layui-inline">
                <label class="layui-form-label">品名</label>
                <div class="layui-inline">
                    <input type="text" style="width: 115px;" name="name" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-inline">Cas号</label>
                <div class="layui-inline">
                    <input type="text" style="width: 115px;"  name="cas" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-inline">供应商名称</label>
                <div class="layui-inline">
                    <input type="text" style="width: 115px;"  name="supplierName" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-inline">物流单号</label>
                <div class="layui-inline">
                    <input type="text" style="width: 115px;"  name="trackingNumber" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-inline">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="formDemo">查询</button>
                </div>
            </div>
        </div>
    </form>
     <button class="layui-btn layui-btn-normal"  lay-event="add">添加</button>
     <button class="layui-btn  layui-btn-normal"  style="margin-left: 0px"  lay-event="updateT">修改</button>
     <button class="layui-btn  layui-btn-danger"  style="margin-left: 0px"  lay-event="del">删除</button>


</script>

<script type="text/html" id="dd">
    {{#  if(d.trackingNumber == null){ }}
    <button class="layui-btn  layui-btn-xs layui-btn" lay-event="up" >添加物流编号</button>
    {{#  } else if(d.trackingNumber == 1){ }}
    {{#  } }}

    {{#  if(d.ann === 1 && d.priceStatus == 0){ }}
    <button class="layui-btn  layui-btn-xs layui-btn" lay-event="getfp">已收到发票</button>
    {{#  } else if(d.ann == 1){ }}

    {{#  } }}
</script>

<script type="text/html" id="cc">
    {{#  if(d.ann === 1 && d.priceStatus == 0){ }}
    <button class="layui-btn  layui-btn-xs layui-btn" lay-event="getfp">已收到发票</button>
    {{#  } else if(d.ann == 1){ }}

    {{#  } }}
</script>
<script type="text/html" id="ccs">
    <button class="layui-btn  layui-btn-xs layui-btn" lay-event="del">删除</button>
    <button class="layui-btn  layui-btn-xs layui-btn" lay-event="updateT">修改</button>
</script>
<script type="text/html" id="suppliername">
    {{#  if(0 == types){ }}
    {{d.supplierName}}
    {{#  } else if(2 == types ){ }}
    {{d.supplierName}}
    {{#  } else if(d.userId == userId){ }}
    {{d.supplierName}}
    {{#  } else { }}
    无权限
    {{#  } }}
</script>
<script type="text/html" id="supplierphone">
    {{#  if(0 == types){ }}
    {{d.supplierPhone}}
    {{#  } else if(2 ==types ){ }}
    {{d.supplierPhone}}
    {{#  } else if(d.userId == userId){ }}
    {{d.supplierPhone}}
    {{#  } else { }}
    无权限
    {{#  } }}

</script>
<script type="text/html" id="royalties">
    {{d.amount}}千克
</script>
</body>
</html>