<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="text/html;charset=UTF-8" >
    <title>订单详情</title>
    <script type="text/javascript"  src="/web/component/js/jquery-3.3.1.min.js" ></script>
    <link rel="stylesheet" href="/web/component/layui/css/layui.css" media="all">
    <script src="/web/component/layui/layui.js" charset="utf-8"></script>
</head>
<script>
    layui.use('table', function(){
        var table = layui.table;
        var layer =layui.layer;
        //第一个实例
        table.render({
            elem: '#demo'
            ,url: '/Order/selectByStatus' //数据接口
            ,page: true //开启分页
            ,limit:20
            ,height: 'full-20'
            ,title:"订单详情"
            ,limits:[10,20,30]
            ,cols: [
                [ //表头
                    {field: 'id', title: '编号', sort: true}
                    ,{field: 'name', title: '商品名称', sort: true, totalRowText: '合计行'}
                    ,{field: 'amount', title: '数量', sort: true}
                    ,{field: 'price', title: '单价', sort: true}
                    ,{field: 'sumPrice', title: '总价', sort: true}
                    ,{field: 'costPrice', title: '成本'}
                    ,{field: 'otherCost', title: '其他成本'}
                    ,{field: '', title: '总成本', templet:"<div>{{ d.costPrice*d.amount+d.otherCost }}</div>"}
                    ,{fixed: 'right', toolbar: '#barDemo'}
                ]
            ]
        });

        //监听工具条
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if(layEvent === 'detail'){ //查看
                layer.open({
                    area: ['390px', '572px'],
                    title:"订单详情",
                    type: 1,
                    content:
                        "<table class='layui-table'>  " +
                        "  <tr>" +
                        "    <td>商品名称</td>" +
                        "    <td>"+data.name+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>数量</td>" +
                        "    <td>"+data.amount+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>单价</td>" +
                        "    <td>"+data.price+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>总价</td>" +
                        "    <td>"+data.sumPrice+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>成本</td>" +
                        "    <td>"+data.costPrice+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>其他成本</td>" +
                        "    <td>"+data.otherCost+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>总成本</td>" +
                        "    <td>"+((data.costPrice*data.amount)+data.otherCost)+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>提成</td>" +
                        "    <td>"+data.royalties+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>客户姓名</td>" +
                        "    <td>"+data.userName+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>地址</td>" +
                        "    <td>"+data.address+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>联系电话</td>" +
                        "    <td>"+data.phone+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>开票资料</td>" +
                        "    <td>"+data.createTime+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>库存编号</td>" +
                        "    <td>"+data.number+"</td>" +
                        "  </tr>" +
                        "  <tr>" +
                        "    <td>备注</td>" +
                        "    <td>" +
                        "       <div class='layui-input-inline'>" +
                        "           <textarea  class='layui-textarea' disabled='disabled' style='width: 240px'>"+data.remarks+"</textarea>" +
                        "       </div>" +
                        "    </td>" +
                        "  </tr>" +
                        "</table>" //这里content是一个普通的String
                });
            }
            else if(layEvent === 'edit'){
                layer.open({
                    type: 2
                    ,title:'订单退货'
                    ,content:'/web/view/SalesinsertTwo.html?order_id='+data.did //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    ,area: ['800px', '300px']
                    ,end: function(index, layero){
                        //假设这是iframe页
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    }
                });
            }
        });
    });
</script>
<script type="text/html" id="status">
    {{#  if(d.status == 0){ }}
    <input type="checkbox" name="status" value="{{d.status}}" title="未出库" lay-filter="lockDemo" >
    {{#  } else if(d.status == 1){ }}
    <input type="checkbox" name="status" value="{{d.status}}" title="出库" lay-filter="lockDemo" checked>
    {{#  } else if(d.status == 2){ }}
    <input type="checkbox" name="status" value="{{d.status}}" title="退货" disabled="disabled"  lay-filter="lockDemo" checked>
    {{#  } }}
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">退货</a>
</script>
<body>
<table class="layui-hide" id="demo" lay-filter="test"></table>

</form>
</body>
</html>