<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" content="text/html;charset=UTF-8" >
    <script type="text/javascript"  src="/web/component/js/jquery-3.3.1.min.js" ></script>
    <title>退货管理</title>
    <link rel="stylesheet" href="/web/component/layui/css/layui.css" media="all">
    <script src="/web/component/layui/layui.js" charset="utf-8" th:src="@{/web/component/js/jquery-3.3.1.min.js}"></script>
</head>
<script>
    var types=localStorage.getItem("types");
    $(function(){
        $.ajax({
            url: '/login/session',
            type: 'post',
            contentType:"application/json",
            success: function (data) {
                if (data==="0"){
                    //表头
                    sjtable(data);
                }

                if (data==="1"){
                    sjtable(data);
                }
                if (data==="2"){
                    sjtable(data);
                }
            }
        });
    });


    function sjtable(shuju) {
        layui.use('table', function () {
            var table = layui.table;
            var layer =layui.layer;
            table.render({
                elem: '#demo'       //赋值到那个table
                ,height: 'full-20'
                ,url:'/Sales/Saleslist'
                ,where:{userId: shuju}
                ,page:true //开启分页
                ,limit:10
                , id: 'testReload'
                ,toolbar: '#toolbarDemo'
                ,defaultToolbar: []
                ,cols: [[   //表头
                    {type: 'radio', fixed: 'left'},
                    {field:'did',width:100, title: 'ID', sort: true}
                    ,{field:'userId',width:100,title: '业务员id'}
                    ,{field:'orderIds',width:100, title: '订单编号'}
                    ,{field:'orderId',width:100, hide: true}
                    ,{field:'name', title: '商品名称',width:330}
                    ,{field:'amount', title: '数量',width:120}
                    ,{field:'trackingName',  title: '物流公司名称'}
                    ,{field:'trackingNumber', title: '物流编号'}
                    ,{field: 'status', title: '状态',hide:true}
                    ,{field:'createTime',width:170, title: '创建时间'}
                    ,{fixed:'right', title: '操作',align:'center', toolbar: '#barDemo'}
                ]],done: function (response) {
                    //定位当前table视图
                    var tableView = this.elem.next();
                    $.each(response.data,function (index,item) {
                        //逻辑判断
                        // if(item.status=="0"){
                            //改变TR行颜色和标签内字体颜色
                            // tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','yellow');
                            // tableView.find('tbody tr[data-index="'+ index +'"]').find('td').data('edit', true);
                        // }
                        if(item.status=="0"){
                            tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','red');
                        }
                    })
                }
            });
            //头工具栏监听
            table.on('toolbar(test)', function(obj){
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

                if(layEvent === 'add'){ //添加
                    layer.open({
                        type: 2
                        ,title:'所有订单'
                        ,content: '/web/view/SalesInsert.html' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        ,area: ['1200px', '600px']
                        ,end: function(index, layero){
                            location.reload();
                        }
                    });
                }  else if(layEvent === 'del'){ //编辑

                    var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                    var data = checkStatus.data;
                    if(data.length==0){
                        layer.msg('请选择一行');
                        return;
                    }

                    layer.confirm('确认删除？', function(index){
                        $.post("/Sales/delete",{did:data[0].did,orderId:data[0].orderId},function (data) {
                            if(data==1){
                                layer.msg('已删除！！！', {
                                    icon: 1,
                                    time: 2000 //1秒关闭（如果不配置，默认是3秒）
                                })
                                table.reload('testReload', {
                                    url: '/Sales/Saleslist'
                                });
                            }else{
                                layer.msg('删除失败！！！', {
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                })
                            }
                        });
                        layer.close(index);
                    });

                }else if(layEvent === 'upd'){//修改
                    var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                    var data = checkStatus.data;
                    if(data.length==0){
                        layer.msg('请选择一行');
                        return;
                    }
                    console.log(data)
                    layer.open({
                        type: 2
                        ,title:'修改'
                        ,content:'/web/view/SalesinsertTwo1.html?order_id='+data[0].did+"&trackingNumber="+data[0].trackingNumber+"&trackingName="+data[0].trackingName //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        ,area: ['500px', '300px']
                        ,end: function(index){
                            //假设这是iframe页
                            // var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            // parent.layer.close(index); //再执行关闭
                            table.reload('testReload', {
                                url: '/Sales/Saleslist'
                            });

                        }
                    });
                }

            });
            //监听工具条
            table.on('tool(test)', function(obj){
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                if(layEvent === 'edit'){ //确认退货

                            $.ajax({
                                url: '/Sales/updateStatus?did='+data.did+'&orderId='+data.orderId,
                                type: 'get',
                                dataType:"json",
                                contentType:"application/json",
                                success: function (data1) {

                                        layer.msg('修改成功！！！', {
                                            icon: 6,
                                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                                        }, function(){
                                            table.reload('testReload', {
                                                url:'/Sales/Saleslist'
                                            });
                                        });

                                }
                            });


                }

            });

            table.on('row(test)', function (obj) {
                obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click')
                obj.tr.find('div.layui-unselect.layui-form-radio')[1].click();
            })

            $(document).on("click",'#p12',function () {

                table.reload('testReload', {
                    url: '/Sales/SalesOrderbyid'
                    // ,methods:"post"
                    ,request: {
                        pageName: 'page' //页码的参数名称，默认：page
                        ,limitName: 'limit' //每页数据量的参数名，默认：limit
                    }
                    ,where: {
                        trackingNumber : $('#demoReload').val(),
                        name :  $('#name').val()
                    }
                    ,page: {
                        curr: 1
                    },done: function (response) {
                        //定位当前table视图
                        var tableView = this.elem.next();

                        $.each(response.data,function (index,item) {
                            //逻辑判断
                            // if(item.trackingNumber==0){
                            //     //改变TR行颜色和标签内字体颜色
                            //     tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','yellow');
                            // }
                            if(item.status=="0"){
                                tableView.find('tbody tr[data-index="'+ index +'"]').css('background-color','red');
                            }
                        })
                    }
                });
            });

        });
    }


</script>

<!-- //工具栏-->
<script type="text/html" id="barDemo">
    {{# if(d.status=="0"){ }}
        <a class="layui-btn layui-btn-xs" lay-event="edit">收到退货</a>
    {{# } }}

</script>

<!--工具栏头模板-->
<script type="text/html" id="toolbarDemo">
    <div class="demoTable" align="center">

        物流编号：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
        </div>
        产品名称：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="name" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload" id="p12">查询</button>
        <button class="layui-btn layui-btn-normal" style="margin-left: 0px" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-normal" style="margin-left: 0px" lay-event="upd">修改</button>
        {{# if( types == 2 ||  types ==0) { }}
        <button class="layui-btn layui-btn-danger" style="margin-left: 0px" lay-event="del">删除</button>
        {{# } }}
    </div>

</script>
<body style="overflow-x: scroll;">

<table class="layui-hide" id="demo" lay-filter="test"></table>
</body>
</html>